.card {
  width: 100%;
  cursor: pointer;
}

.card > * {
  display: inline-flex;
  width: 100%;
  min-height: 80px;
  justify-content: center;
  align-items: center;
  padding: 4px;
  min-height: initial;
}

.title {
  margin-right: auto;
  width: -webkit-fill-available;
}

.checkbox {
  margin-right: 4px;
}

.button {
  padding: 0px 4px;
}
